{{ if .features.tmux -}}
# use /bin/sh as the default shell
set -g default-shell "/bin/sh"

# start a non-login shell
set -g default-command "${SHELL}"

# use a 256 color terminal
set -g default-terminal tmux-256color

# start numbering at 1
set -g base-index 1

# enable mouse control
set -g mouse on

# increase history size
set -g history-limit 10000
{{ end }}
