{{ if .features.starship -}}
[character]
success_symbol = "[>](bold green)"
error_symbol = "[>](bold red)"

[directory]
style = "cyan"
truncation_symbol = "…/"

[git_branch]
style = "green"
{{ end }}
